services:
  - redis-server
before_install:
  - git submodule update --init --recursive
language: python
python:
  - "2.6"
  - "2.7"
# command to install dependencies
install: "pip install -r requirements.txt --use-mirrors"
# command to run tests
script: make test
